@import url(https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800,900,600);

$em: 24px;

$green: #81b341;
$blue: #6e97a2;
$red: #e37259;
$brown: #64585a;
$beige: #e6e1cf;

* {
  position: relative;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-size: $em;
  font-family: 'Raleway';
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  padding-top: 5 * $em;
  padding-bottom: 5 * $em;
  overflow: hidden;
  background: $beige;
  background: -moz-linear-gradient(-45deg,  $beige 0%, #ddd5ba 100%);
  background: -webkit-linear-gradient(-45deg,  $beige 0%, #ddd5ba 100%);
  background: linear-gradient(135deg,  $beige 0%, #ddd5ba 100%);
  .slogan {
    font-size: 300%;
    color: $brown;
    line-height: 1.1em;
    font-weight: 700;
  }
}
footer {
  font-family: Verdana;
  background-color: $brown;
  padding: 6em;
  color: #c5c1b6;
  font-size: 70%;
  text-shadow: 0 1px 0 black;
}
  footer a {
    color: $beige;
    border-bottom: 1px dotted $beige;
  }
  footer a:hover {
    color: #f7f2e5;
    border-bottom: 1px solid #f7f2e5;
  }
section a {
  color: #e2725c;
  border-bottom: 1px dotted #e2725c;
}
  section a:hover {
    color: #cb6755;
    border-bottom: 1px solid #cb6755;
  }
  section p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
.centered {
  text-align: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.container-m { width: 650px; }
.container-l { width: 850px; }
.container-xl { width: 1050px; }
article {
  margin-top: 8em;
  margin-bottom: 8em;
}
.small {
  font-size: 80%;
}
.headline span {
  font-weight: 600;
  color: #64585a;
  font-size: 1.7em;
}
.circle {
  border-radius: 50%;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  width: 6em;
  height: 6em;
  line-height: 6em;
  display: inline-block;
  margin-top: .5em;
  margin-bottom: .5em;
}
textarea, input {
  font-size: 1em;
  padding: .5em;
  border-radius: 5px;
  background-color: $beige;
  border: 0;
  font-family: 'Raleway';
  font-weight: 400;
}
label {
  font-weight: inherit;
  display: block;
}
.help {
  font-size: 75%;
  color: gray;
}
.ico {
  color: #64585a;
  font-size: 5em;
}
