* {
  margin: 0;
  padding: 0;
}
body {
  padding: 2em;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', serif;
  font-size: 20px;
}
.wrapper {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-weight: normal;
  font-size: 2em;
}
p {
  margin-top: 2em;
  margin-bottom: 2em;
}
footer {
  font-size: 0.8em;
}
