@import url(https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800,900,600);

$em: 24px;
$fold: 1024px;

$black: #000;
$red: #e2725c;
$brown: #64585a;
$beige: #e6e1cf;
$white: #fff;

* {
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: 'Raleway';
  font-size: $em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background: linear-gradient(135deg, $beige 0%, darken($beige, 13) 100%);
  overflow: hidden;
  padding-bottom: 5 * $em;
  padding-top: 5 * $em;

  img {
    height: 232px;
    width: 250px;

    @media all and (max-width: $fold) {
      height: 149px;
      width: 160px;
    }
  }

  h1 {
    color: $brown;
    font-size: 3.1 * $em;
    font-weight: 700;
    line-height: 1.1em;

    @media all and (max-width: $fold) {
      font-size: 2 * $em;
    }
  }
}

footer {
  background-color: $brown;
  color: darken($beige, 6);
  font-family: Verdana;
  font-size: .7 * $em;
  padding-bottom: 3 * $em;
  padding-top: 3 * $em;
  text-shadow: 0 1px 0 $black;

  a {
    border-bottom: 1px dotted $beige;
    color: $beige;
  }

  a:hover {
    border-bottom: 1px solid lighten($beige, 6);
    color: lighten($beige, 6);
  }
}

section {
  a {
    border-bottom: 1px dotted $red;
    color: $red;

    &:hover {
      border-bottom: 1px solid darken($red, 5);
      color: darken($red, 5);
    }
  }

  p {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

%centered { text-align: center; }
.centered { @extend %centered; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: $em;
  padding-right: $em;
}

.container-m { width: 650px; }

.container-l { width: 850px; }

.container-xl { width: 1050px; }

article {
  margin-bottom: 8 * $em;
  margin-top: 8 * $em;
}

.small {
  font-size: .8 * $em;
}

h2 {
  @extend %centered;
  color: $brown;
  font-size: 1.7 * $em;
  font-weight: 600;
}

.circle {
  background-color: $white;
  border-radius: 50%;
  display: inline-block;
  height: 6 * $em;
  line-height: 6 * $em;
  margin-bottom: .5 * $em;
  margin-top: .5 * $em;
  text-align: center;
  vertical-align: middle;
  width: 6 * $em;
}

.ico {
  color: $brown;
  font-size: 5 * $em;

  @media all and (max-width: $fold) {
    font-size: 3.5 * $em;
  }
}
