---
layout: default
title: "Looking for a Job?"
permalink: /developer.html
description: "Welcome to teamed.io"
style: developer
keywords:
  - teams
  - distributed programming
paragraphs:
  quality-coding:
    title: High Quality Coding
    image: http://img.teamed.io/developer/high-quality.svg
    text: |
      If you are passionate about software development and
      committed to quality, we want to work with you. Our
      coding standards are unexpectedly high for most newcomers.
      Moreover, our work model
      [differs](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)
      from everything you've seen before.
      But don't be scared; just be ready to improve yourself&nbsp;:)
  perfect-job:
    title: Perfect Remote Job
    image: http://img.teamed.io/developer/remote-job.svg
    text:
      - |
        We offer a flexible part-time job you can work from anywhere.
        In most cases, we expect you to spend up to 10 hours per week,
        blending our projects into your other full-time work.
      - |
        Our projects are both challenging and interesting. You will solve
        difficult problems, work with cutting-edge technologies, and collaborate
        with skilled professionals. There are no routine or boring tasks here.
      - |
        You can expect to work on small, well-defined tasks (usually
        30 minutes each) personally selected to fit with your skills
        and experience. We even encourage our developers to reject tasks
        if you don't feel like they're a good fit.
  high-rates:
    title: High Hourly Rates
    image: http://img.teamed.io/developer/hourly-rate.svg
    text: |
      We pay you immediately after a task is completed, either
      through [oDesk](http://www.odesk.com) or [PayPal](http://www.paypal.com),
      according to the budget allocated for the task multiplied by your hourly rate.
      Say, for example, that your rate is $50/hour and the task budget is 30
      minutes. You will get $25 immediately after the task is completed.
      Here is a [sample](http://img.teamed.io/engineer.pdf) of our contract.
  apply-now:
    title: Apply Now
    image: http://img.teamed.io/developer/apply-now.svg
    text: |
      When you are ready to join, send us your GitHub account and StackOverflow
      profile, as we expect people passionate about software development to be
      active contributors to open-source projects and regularly spend time
      on StackOverflow. Please send them, together with your CV, to
      [dev@teamed.io](mailto:dev@teamed.io).
---

<body>
  <section itemscope itemtype="http://schema.org/Offer">
    <header class="developer">
      <a href="/" title="home page">
        <img src="//img.teamed.io/logo-white.svg" alt="teamed.io logo"/>
      </a>
    </header>
    <article role="main">
      <div class="slot page">
        {% for par in page.paragraphs %}
          <div class="paragraph">
            <div class="left">
              <img src="{{ par[1].image }}" alt="picture"/>
            </div>
            <div class="right">
              <h1>{{ par[1].title | escape }}</h1>
              {% for p in par[1].text %}
                {{ p | markdownify }}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
    <footer class="developer">
      <ul>
        <li>
          PO Box 211<br/>
          Mountain View, CA 94042<br/>
          United States of America
        </li>
        <li>
          <a href="https://twitter.com/yegor256">
            <i class="fa fa-twitter ico"></i>
            yegor256
          </a><br/>
          <a href="mailto:dev@teamed.io">
            <i class="fa fa-envelope ico"></i>
            dev@teamed.io
          </a><br/>
          <i class="fa fa-phone ico"></i>
          860.506.5536
        </li>
        <li>
          We love Java, Ruby,<br/>
          NoSQL, AWS and unit tests
        </li>
      </ul>
    </footer>
  </section>
</body>
