---
layout: default
title: "Software Portfolio of Teamed.io"
permalink: /portfolio.html
description:
  Recent projects
keywords:
  - java programmers for hire
  - programmers to hire
  - software developer outsource
  - java programming outsource
  - hire freelancer
  - get a freelancer
  - find a freelancer
  - find a software developer
projects:
  rultor:
    href: http://www.rultor.com/
    logo: http://img.rultor.com/logo.svg
    width: 64
    license: BSD
    sources: https://github.com/yegor256/rultor
    stack: Java, Docker, DynamoDB, Bash, Git, Github API, Maven, CasperJS, SASS
    loc: 12.7K
    team: 12
    start: 2013/Jun
    lifetime: 18
    case: |
      Coding team assistant, automating merge, release, and deploy operations. It
      exploits Docker containers for builds isolation. Read some articles
      about it: [Every Build in Its Own Docker Container](http://www.yegor256.com/2014/07/29/docker-in-rultor.html),
      [Rultor + Travis](http://www.yegor256.com/2014/07/31/travis-and-rultor.html) and
      [Rultor, a Merging Bot](http://www.yegor256.com/2014/07/24/rultor-automated-merging.html)
  jcabi.com:
    href: http://www.jcabi.com/
    logo: http://img.jcabi.com/logo-square.svg
    width: 64
    license: BSD
    sources: https://github.com/jcabi/jcabi
    stack: Java, MySQL, Heroku, Elastic Beanstalk, S3, DynamoDB, SimpleDB, Github API, Maven plugins, HTTP, JUnit, Hamcrest
    loc: 97.2K
    team: 27
    start: 2012/Apr
    lifetime: 110
    case: |
      Useful Java components, including AOP aspects, DynamoDB SDK, MySQL Maven Plugin, etc.
      Check these articles about the most interesting jcabi components:
      [Fluent Java Http Client](http://www.yegor256.com/2014/04/11/jcabi-http-intro.html),
      [Object-Oriented Github API](http://www.yegor256.com/2014/05/14/object-oriented-github-java-sdk.html),
      [MySQL Maven Plugin](http://www.yegor256.com/2014/05/21/mysql-maven-plugin.html), and
      [Object-Oriented DynamoDB API](http://www.yegor256.com/2014/04/14/jcabi-dynamo-java-api-of-aws-dynamodb.html).
  stateful.co:
    href: http://www.stateful.co/
    logo: http://img.stateful.co/pomegranate.svg
    width: 64
    license: BSD
    sources: https://github.com/sttc/stateful
    stack: Java, DynamoDB, Maven, JUnit, CasperJS, Bootstrap, SASS
    loc: 8.7K
    team: 3
    start: 2014/May
    lifetime: 6
    case: |
      Stateful RESTful web privitives with XML/JSON API. We are actively
      using this web tool in every application that works with DynamoDB.
      [Atomic Counters at Stateful.co](http://www.yegor256.com/2014/05/18/cloud-autoincrement-counters.html)
      article explain the details.
  rexsl.com:
    href: http://www.rexsl.com/
    logo: http://img.rexsl.com/logo.svg
    width: 150
    license: BSD
    sources: https://github.com/yegor256/rexsl
    stack: Java, XSLT, JAXB, JAX-RS, Servlets, Facebook/Twitter/Github/Google+ OAuth2
    loc: 11K
    team: 9
    start: 2011/Aug
    lifetime: 50
    case: |
      XSLT-powered RESTful framework for Java web applications.
      [XML+XSLT in a Browser](http://www.yegor256.com/2014/06/25/xml-and-xslt-in-browser.html)
      article explains the benefits of this approach to building web apps.
  s3auth:
    href: http://www.s3auth.com
    logo: http://img.s3auth.com/logo.svg
    width: 128
    license: BSD
    sources: https://github.com/yegor256/s3auth
    stack: Java, DynamoDB, S3, EC2, H2 Database, Maven, JUnit, Mockito, XML/XSLT, HTML5, CSS
    loc: 12.3K
    team: 3
    start: 2012/Aug
    lifetime: 35
    case: |
      s3auth.com is a gateway to private AWS S3 buckets that
      provides Basic HTTP authentication. At the moment, s3auth.com
      hosts over 300 domains and sends through more than 10Mb of data each hour.
      [This blog post](http://www.yegor256.com/2014/04/21/s3-http-basic-auth.html)
      explains its business case with more details.
  netbout:
    href: http://www.netbout.com/
    logo: http://img.netbout.com/logo.svg
    width: 128
    license: BSD
    sources: https://github.com/yegor256/netbout
    stack: Java, DynamoDB, H2 Database, Maven, JUnit, Mockito, XML/XSLT, HTML5, CSS, jQuery
    loc: 13.9K
    team: 8
    start: 2010/Apr
    lifetime: 57
    case:
      Secure online environment for private
      long-term business communications. Originally developed in PHP,
      then migrated to Java, then re-factored and simplified. At the moment,
      it is actively used in our internal communications.
  qulice:
    href: http://www.qulice.com/
    logo: http://img.qulice.com/logo.svg
    width: 150
    license: BSD
    sources: https://github.com/teamed/qulice
    stack: Java, Maven plugins, Checkstyle, PMD, FindBugs, JUnit, Mockito
    loc: 10.9K
    team: 7
    start: 2011/Aug
    lifetime: 90
    case:
      Static quality analysis toolkit for Java/Maven projects
  requs:
    href: http://www.requs.org/
    logo: http://img.requs.org/logo.svg
    width: 150
    license: BSD
    sources: https://github.com/teamed/requs
    stack: Java, XSTL, ANTLR4, Maven plugins, JUnit, Mockito, jQuery
    loc: 12.2K
    team: 6
    start: 2010/Mar
    lifetime: 24
    case:
      Controlled Natural Language (CNL) and Java library
      for formalization of requirements specification.
      [Incremental Requirements With Requs](http://www.yegor256.com/2014/04/26/incremental-requirements-with-requs.html)
      article explains what is it for and how we're using this tool
      in our projects.
  xembly:
    href: http://www.xembly.org/
    logo: http://img.xembly.org/logo-256x256.png
    width: 64
    license: BSD
    sources: https://github.com/yegor256/xembly
    stack: Java, XML, DOM
    loc: 5.5K
    team: 3
    start: 2013/Jul
    lifetime: 10
    case:
      XML manipulation language with Java implementation. Its purpose
      is explain in
      [Xembly, an Assembly for XML](http://www.yegor256.com/2014/04/09/xembly-intro.html) article.
      We actively use this library in almost every project.
  pdd gem:
    href: https://github.com/teamed/pdd
    width: 64
    license: MIT
    sources: https://github.com/teamed/pdd
    stack: Ruby, Cucumber, Minitest, Rubocop
    loc: 1.5K
    team: 1
    start: 2014/Aug
    lifetime: 2
    case:
      Puzzle Driven Development automation tool that
      parses source code files, finds TODO markers and
      builds an XML report. PDD and this tool are explained
      [here](http://www.yegor256.com/2009/03/04/pdd.html).
  phprack:
    href: http://www.phprack.com
    logo: http://img.phprack.com/logo.png
    width: 96
    license: BSD
    sources: https://github.com/yegor256/phprack
    stack: PHP, PHPCS, PHPMD, xdebug, AJAX, jQuery
    loc: 9.1K
    team: 9
    start: 2010/Jan
    lifetime: 20
    case:
      Integration testing framework that allows on-production
      monitoring of a running script application
---
<body>
  <script src="/js/tablesorter.js?{{ site.data['hash'] }}"></script>
  <script type="text/javascript">
    $(document).ready(
      function() {
        $(".folio table").tablesorter(
          {
            headers: {
              0: { sorter: false },
              1: { sorter: false },
              2: { sorter: false },
              7: { sorter: false }
            }
          }
        );
      }
    );
  </script>
  <section itemscope itemtype="http://schema.org/Article" class="folio">
    <a href="/" class="back"><i class="fa fa-arrow-left"></i> home page</a>
    <img src="//img.teamed.io/btn.svg" alt="made by teamed.io" class="made-by"/>
    <table>
      <thead>
        <tr>
          <th>Project</th>
          <th>Sources</th>
          <th>Tech Stack</th>
          <th>LoC<sup>1</sup></th>
          <th>Team<sup>2</sup></th>
          <th>Start</th>
          <th>Lifetime<sup>3</sup></th>
          <th>Business Case</th>
        </tr>
      </thead>
      <tbody>
        {% for p in page.projects %}
          <tr>
            <td>
              <div class="bar"></div>
              <a href="{{ p[1].href }}">
                {% if p[1].logo %}
                  <img src="{{ p[1].logo }}" style="width:{{ p[1].width }}px;" alt="{{ p[0] }} logo"/>
                {% else %}
                  {{ p[0] }}
                {% endif %}
              </a>
            </td>
            <td>
              <a href="{{ p[1].sources }}">
                <i class="fa fa-github"></i></a>{{ p[1].license }}
            </td>
            <td>{{ p[1].stack }}</td>
            <td>{{ p[1].loc }}</td>
            <td>{{ p[1].team }}</td>
            <td>{{ p[1].start }}</td>
            <td>{{ p[1].lifetime }}</td>
            <td>{{ p[1].case | markdownify }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="footnotes">
      <sup><strong>1</strong></sup> LoC stands for "Lines of Code", excluding empty lines and comments,
        calculated using <a href="http://cloc.sourceforge.net/">cloc</a>.
      <sup><strong>2</strong></sup> Team includes only active contributors to the source code and doesn't
        include testers, active users, and documentation writers.
      <sup><strong>3</strong></sup> Even though all projects are actively exploited by its users,
        some of them are not in active development any more. Lifetime means
        the total calendar time of active development by the project team, in weeks.
    </p>
  </section>
</body>
