---
layout: default
title: "Software Developers for Hire"
permalink: /sponsor.html
description:
  Hire us and get a team of programmers individually chosen
  for your project and who work using
  the highest quality standards in the industry
keywords:
  - java programmers for hire
  - programmers to hire
  - software developer outsource
  - java programming outsource
  - hire freelancer
  - get a freelancer
  - find a freelancer
  - find a software developer
intro: |
  The way we develop software is absolutely unique
  and revolutionary. We **invented** it.
hows:
  Distributed Team:
    img: http://img.teamed.io/keys/people.svg
    text: |
      For every project we organize a **distributed team**
      of programmers, working by contract
  Transparency:
    img: http://img.teamed.io/keys/dollar.svg
    text: |
      We break the scope down into **thousands of micro-taks**
      and compose their results into a solid product
  Quality:
    img: http://img.teamed.io/keys/basket.svg
    text: |
      We assure that every micro-task delivers
      a stable version of the product with the
      **required quality**
diffs:
  1:
    title: Less Bugs
    reason: we pay for finding them
    details: |
      One type of our micro-task is bug finding activity. Testers
      are motivated to find a pro-actively planned amount of bugs, before
      the product gets to its end-users. When we start a project, we
      estimate how much bugs it will contain. We find and fix them all before
      the project is closed.
  2:
    title: Targeted Skills
    reason: we don't have programmers in-house
    details: |
      Since we don't have programmers on our payroll, you have
      the luxury of choosing from a vast talent market only
      those professionals specifically required for your project.
      If it needs to be written in Scala, we won't try to sell
      you in-house Python developers just to cover our expenses.
  3:
    title: No Waste of Money
    reason: we don't pay salaries
    details: |
      Our programmers are being paid based on deliverables. If they don't
      deliver for some reason or the project doesn't need them any more
      &mdash; you don't pay. We never worry about covering our expenses,
      we worry about your project objectives instead. In some cases,
      we're [30 times more cost efficient](http://www.yegor256.com/2014/04/11/cost-of-loc.html)
      than traditional organizations.
  4:
    title: Unlimited Talent Pool
    reason: we pay high hourly rates for the best engineers
    details: |
      Sometimes we pay $200/hour for an exceptional talent available
      on the market. You can't get that person on a payroll, no matter
      how interesting and well-funded your project is. But for a part-time
      assignment we can hire those guys into your project.
  5:
    title: Higher Quality of Code
    reason: we control quality in every micro-task
    details: |
      Our micro-tasks are really small in size, usually below
      30 minutes of work. And every one of them (without exceptions)
      has to pass a huge amount of quality checks we employ, like
      Checkstyle, Rubocop or FindBugs.
portfolio:
  rultor.com:
    href: http://www.rultor.com/
    img: http://img.rultor.com/logo.svg
    width: 64
    text:
      Coding team assistant, automating merge, release,
      and deploy operations for Github projects
  jcabi.com:
    href: http://www.jcabi.com/
    img: http://img.jcabi.com/logo-square.svg
    width: 64
    text:
      Useful Java components, including AOP aspects,
      DynamoDB SDK, MySQL Maven Plugin, etc.
  s3auth.com:
    href: http://www.s3auth.com/
    img: http://img.s3auth.com/logo.svg
    width: 170
    text:
      HTTP Basic Authenticating gateway for Amazon S3 buckets
  netbout.com:
    href: http://www.netbout.com/
    img: http://img.netbout.com/logo.svg
    width: 128
    text:
      Secure online environment for private
      long-term business communications
  qulice.com:
    href: http://www.qulice.com/
    img: http://img.qulice.com/logo.svg
    width: 150
    text:
      Static quality analysis toolkit for Java/Maven projects
  stateful.co:
    href: http://www.stateful.co/
    img: http://img.stateful.co/pomegranate.svg
    width: 64
    text:
      Stateful RESTful web privitives with XML/JSON API
  rexsl.com:
    href: http://www.rexsl.com/
    img: http://img.rexsl.com/logo.svg
    width: 150
    text:
      XSLT-powered RESTful framework for Java web applications
  requs.org:
    href: http://www.requs.org/
    img: http://img.requs.org/logo.svg
    width: 150
    text:
      Controlled natural language and Java library for requirements specification
  xembly.org:
    href: http://www.xembly.org/
    img: http://img.xembly.org/logo-256x256.png
    width: 64
    text:
      XML manipulation language with Java implementation
technologies:
  java:
    img: http://img.teamed.io/tech/java.jpg
    width: 64
    height: 64
    text:
      Java7, Groovy, Clojure, AOP/AspectJ,
      JAX-RS, XML, XSLT, JUnit, Maven, Mockito
  aws:
    img: http://img.teamed.io/tech/aws.jpg
    width: 128
    height: 52
    text:
      EC2, S3, DynamoDB, SimpleDB, CloudWatch,
      SNS, SQS, CloudFront, SES
  databases:
    img: http://img.teamed.io/tech/database.png
    width: 64
    height: 64
    text:
      PostgreSQL, H2, Amazon DynamoDB,
      MongoDB, Amazon SimpleDB
  front-end:
    img: http://img.teamed.io/tech/html5.png
    width: 64
    height: 64
    text:
      JavaScript, jQuery, SASS, AngularJS,
      node.js, HTML5, CSS3, PhantomJS, CasperJS
  process:
    img: http://img.teamed.io/tech/wheel.png
    width: 64
    height: 64
    text:
      Github, Rultor, Travis, Docker, Continuous Integration,
      Build Automation, TDD, Static Analysis
advisers:
  tpc:
    href: http://www.technoparkcorp.com
    img: http://img.technoparkcorp.com/logo.svg
    width: 96
    text: |
      TechnoPark Corp., a founder of teamed.io, is
      an ISO:9001 certified company doing software
      development since 2006, employing over 100 software engineers
      in different countries.
  xdsd:
    href: http://www.xdsd.org
    img: http://img.xdsd.org/logo.svg
    width: 80
    text:
      eXtremely Distributed Software Development (XDSD)
      methodology is used by teamed.io as a guiding manual for
      project management, quality control, and team motivation.
---
<body>
  <section itemscope itemtype="http://schema.org/Offer">
    <header class="sponsor">
      <a href="/">
        <img src="//img.teamed.io/logo-white.svg" alt="teamed.io logo"/>
      </a>
    </header>
    <article role="main">
      <div class="slot intro">
        {{ page.intro | markdownify }}
      </div>
      <div class="slot keys">
        <h1 id="keys">How It Works</h1>
        <ul>
          {% for how in page.hows %}
            <li>
              <img src="{{ how[1].img }}" alt="logo"/>
              {{ how[1].text | markdownify }}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="slot diffs">
        <h1 id="diffs">What Do You Get</h1>
        <ul>
          {% for diff in page.diffs %}
            <li>
              <span class="num">{{ diff[0] }}</span>
              <span class="title">{{ diff[1].title }}</span>
              <span class="reason">Because {{ diff[1].reason }}</span>
              <span class="details">{{ diff[1].details | markdownify }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="slot intro">
        We're developing software <strong>since 2001</strong><br/>
        <strong>150+</strong> projects, <strong>300K+</strong> hours of work<br/>
        <strong>3M+</strong> lines of code
      </div>
      <div class="slot portfolio">
        <h1 id="portfolio">Our Recent Open Source Products</h1>
        <ul>
          {% for project in page.portfolio %}
            <li>
              <a href="{{ project[1].href }}">
                <img src="{{ project[1].img }}" style="width:{{ project[1].width }}px;" alt="logo"/>
              </a>
              {{ project[1].text | markdownify }}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="slot technologies">
        <h1 id="technologies">Technologies We Love<sup>*</sup></h1>
        <ul>
          {% for tech in page.technologies %}
            <li>
              <img src="{{ tech[1].img }}" style="width:{{ tech[1].width }}px;height:{{ tech[1].height }}px;" alt="logo"/>
              {{ tech[1].text | markdownify }}
            </li>
          {% endfor %}
        </ul>
        <p style="text-align:left;font-size:0.6em;">
          * Some technologies we don't like and prefer not to work with them,
          including PHP, Python, Ant, Azure, utility classes,
          MySQL, .Net, copy &amp; paste,
          Subversion, JIRA/Bitbucket, Scrum, daily standups,
          singletons,
          Windows, Adobe Flash, Perl, Spring Framework, RPC,
          NULL references, Selenium, PowerMock
        </p>
      </div>
      <div class="slot advisers">
        <h1 id="advisers">Our advisers</h1>
        <ul>
          {% for adviser in page.advisers %}
            <li>
              <a href="{{ adviser[1].href }}">
                <img src="{{ adviser[1].img }}" style="width:{{ adviser[1].width }}px;" alt="logo"/>
              </a>
              {{ adviser[1].text | markdownify }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </article>
    <footer class="sponsor">
      <ul>
        <li>
          568 9th Str S 202<br/>
          Naples, FL 34102
        </li>
        <li>
          <a href="https://twitter.com/yegor256">
            <i class="fa fa-twitter ico"></i>
            yegor256
          </a><br/>
          <a href="mailto:sales@teamed.io">
            <i class="fa fa-envelope ico"></i>
            sales@teamed.io
          </a><br/>
          <i class="fa fa-phone ico"></i>
          860.506.5536
        </li>
        <li>
          We are in
          <a href="http://www.crunchbase.com/company/teamed">crunchbase</a>,
          <a href="https://angel.co/teamed-io">angel.co</a>,
          <a href="https://www.linkedin.com/company/teamed-io">linkedin</a>,
          <a href="http://startupli.st/yegor256">startupli.st</a>
        </li>
      </ul>
    </footer>
  </section>
  <script type="text/javascript">
  var __lc = {};
  __lc.license = 4756341;
  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
  </script>
  <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
  <script type="text/javascript">
  twttr.conversion.trackPid('l4qjl');
  </script>
</body>
