---
layout: default
title: "Looking for Software Developers?"
permalink: /sponsor.html
description:
  Hire us and get a team of programmers
  individually chosen for your project,
  working up to the highest quality standards
  in the industry
keywords:
  - distributed team
  - distributed programming
  - software developer outsource
  - java programming outsource
  - freelance programming
  - get a freelancer
  - find a freelancer
  - find a software developer
intro: |
  We can develop a software for you with the quality
  **you have never seen** before &mdash;
  we are generation ahead of others
keys:
  Transparency:
    img: http://img.teamed.io/keys/dollar.svg
    text: |
      **Transparency** of work, bills, and deliverables.
      Every dollar spent is traceable down to the line
      of code written. You simply pay only for what works.
  Continuous Delivery:
    img: http://img.teamed.io/keys/basket.svg
    text: |
      **Continuous delivery** of results to production
      environment 5+ times per day. You see
      your software incrementally growing in front
      of your very eyes.
  Targeted Skills:
    img: http://img.teamed.io/keys/people.svg
    text: |
      Team of programmers with **targeted skills**. You get
      people experienced in your specific problem domain
      and experts in required technologies.
diffs:
  unit-tests:
    left: |
      They use unit testing as a **supplementary**
      fancy thing, which is usually sacrificed
      in favor of deadlines or new features.
    right: |
      Our rules are very strict &mdash; unit tests and static analysis
      is a **mandatory** requirement for everybody. We never
      accept any new code unless it is covered by unit tests and
      pass our quality checks. We never make exceptions.
  burden:
    left: |
      Their programmers are on a payroll and have to
      be paid anyway, either they work perfectly
      or they are lazy, either your project succeeds
      or fails. The biggest worry of the management
      is to get enough funds from you just to cover
      **monthly payroll** expenses.
    right: |
      Our programmers are being paid by
      deliverables. If they don't deliver for some
      reason or the project doesn't need them any more &mdash; you
      don't pay. We never worry about covering our expenses,
      we worry about your **project objectives** instead.
  skills:
    left: |
      Their programmers possess **certain** skills
      working full-time. When they have a team
      of Python developers &mdash; your project will
      be developed in Python, even if this is not the
      right technology for your specific case.
    right: |
      Since we don't have programmers on our payroll,
      we have the luxury of choosing from a vast talent
      market only those professionals
      **specifically required** for your project.
      If it needs to be written in Scala, we won't try to sell
      you in-house Python developers just to cover our expenses.
portfolio:
  rultor.com:
    href: http://www.rultor.com/
    img: http://img.rultor.com/logo.svg
    width: 64
    text:
      Coding team assistant, automating merge, release,
      and deploy operations for Github projects
  jcabi.com:
    href: http://www.jcabi.com/
    img: http://img.jcabi.com/logo-square.png
    width: 64
    text:
      Useful Java components, including AOP aspects,
      DynamoDB SDK, MySQL Maven Plugin, etc.
  s3auth.com:
    href: http://www.s3auth.com/
    img: http://img.s3auth.com/logo.png
    width: 170
    text:
      HTTP Basic Authenticating gateway for Amazon S3 buckets
  netbout.com:
    href: http://www.netbout.com/
    img: http://img.netbout.com/logo.svg
    width: 128
    text:
      Secure online environment for private
      long-term business communications
  qulice.com:
    href: http://www.qulice.com/
    img: http://img.qulice.com/logo.png
    width: 150
    text:
      Static quality analysis toolkit for Java/Maven projects
  stateful.co:
    href: http://www.stateful.co/
    img: http://img.stateful.co/pomegranate.svg
    width: 64
    text:
      Stateful RESTful web privitives with XML/JSON API
  rexsl.com:
    href: http://www.rexsl.com/
    img: http://img.rexsl.com/logo.png
    width: 150
    text:
      XSLT-powered RESTful framework for Java web applications
  requs.org:
    href: http://www.requs.org/
    img: http://img.requs.org/logo.svg
    width: 150
    text:
      Controlled natural language and Java library for requirements specification
  xembly.org:
    href: http://www.xembly.org/
    img: http://img.xembly.org/logo-256x256.png
    width: 64
    text:
      XML manipulation language with Java implementation
technologies:
  java:
    img: http://img.teamed.io/tech/java.jpg
    width: 64
    height: 64
    text:
      Java7, Groovy, Clojure, AOP/AspectJ,
      JAX-RS, XML, XSLT, JUnit, Maven, Mockito
  aws:
    img: http://img.teamed.io/tech/aws.jpg
    width: 128
    height: 52
    text:
      EC2, S3, DynamoDB, SimpleDB, CloudWatch,
      SNS, SQS, CloudFront, SES
  databases:
    img: http://img.teamed.io/tech/database.png
    width: 64
    height: 64
    text:
      PostgreSQL, H2, Amazon DynamoDB,
      MongoDB, Amazon SimpleDB
  front-end:
    img: http://img.teamed.io/tech/html5.png
    width: 64
    height: 64
    text:
      JavaScript, jQuery, SASS, AngularJS,
      node.js, HTML5, CSS3, PhantomJS, CasperJS
  process:
    img: http://img.teamed.io/tech/wheel.png
    width: 64
    height: 64
    text:
      Github, Rultor, Travis, Docker, Continuous Integration,
      Build Automation, TDD, Static Analysis
advisers:
  tpc:
    href: http://www.technoparkcorp.com
    img: http://img.teamed.io/tpc-logo.svg
    width: 80
    text: |
      TechnoPark Corp., a founder of teamed.io, is
      an ISO:9001 certified company doing software
      development since 2006, employing over 100 software engineers
      in different countries.
  xdsd:
    href: http://www.xdsd.org
    img: http://img.teamed.io/xdsd-logo.svg
    width: 80
    text:
      eXtremely Distributed Software Development (XDSD)
      methodology is used by teamed.io as a guiding manual for
      project management, quality control, and team motivation.
---
<body>
  <header class="sponsor">
    <a href="/">
      <img src="//img.teamed.io/logo-white.svg"/>
    </a>
  </header>
  <section>
    <div class="slot intro">
      {{ page.intro | markdownify }}
    </div>
    <div class="slot keys">
      <h1 id="keys">Hire Us and Enjoy</h1>
      <ul>
        {% for key in page.keys %}
          <li>
            <img src="{{ key[1].img }}" alt="logo"/>
            {{ key[1].text | markdownify }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="slot diffs">
      <h1 id="portfolio">We Are Revolutionary Different</h1>
      <table>
        <thead>
          <colgroup>
            <col width="50%"/>
            <col width="50%"/>
          </colgroup>
          <tr>
            <th class="left">Others</th>
            <th class="right">Our Team</th>
          </tr>
        </thead>
        <tbody>
          {% for diff in page.diffs %}
            <tr>
              <td class="left">{{ diff[1].left | markdownify }}</td>
              <td class="right">{{ diff[1].right | markdownify }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="slot portfolio">
      <h1 id="portfolio">Our Recent Open Source Products</h1>
      <ul>
        {% for project in page.portfolio %}
          <li>
            <a href="{{ project[1].href }}">
              <img src="{{ project[1].img }}" style="width:{{ project[1].width }}px;" alt="logo"/>
            </a>
            {{ project[1].text | markdownify }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="slot technologies">
      <h1 id="technologies">Technologies We Love<sup>*</sup></h1>
      <ul>
        {% for tech in page.technologies %}
          <li>
            <img src="{{ tech[1].img }}" style="width:{{ tech[1].width }}px;height:{{ tech[1].height }}px;" alt="logo"/>
            {{ tech[1].text | markdownify }}
          </li>
        {% endfor %}
      </ul>
      <p style="text-align:left;font-size:0.6em;">
        * Some technologies we don't like and prefer not to work with them,
        including PHP, Python, Ant, Azure, utility classes,
        MySQL, .Net, copy &amp; paste,
        Subversion, JIRA/Bitbucket, Scrum, daily standups,
        singletons,
        Windows, Adobe Flash, Perl, Spring Framework, RPC,
        NULL references, Selenium
      </p>
    </div>
    <div class="slot advisers">
      <h1 id="advisers">Our advisers</h1>
      <ul>
        {% for adviser in page.advisers %}
          <li>
            <a href="{{ adviser[1].href }}">
              <img src="{{ adviser[1].img }}" style="width:{{ adviser[1].width }}px;" alt="logo"/>
            </a>
            {{ adviser[1].text | markdownify }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <footer class="sponsor">
    <ul>
      <li>
        568 9th Str S 202<br/>
        Naples, FL 34102
      </li>
      <li>
        <a href="https://twitter.com/yegor256">
          <i class="fa fa-twitter ico"></i>
          yegor256
        </a><br/>
        <a href="mailto:sales@teamed.io">
          <i class="fa fa-envelope ico"></i>
          sales@teamed.io
        </a><br/>
        <i class="fa fa-phone ico"></i>
        860.506.5536
      </li>
      <li>
        <a href="https://angel.co/teamed-io">angel.co/teamed-io</a><br/>
        <a href="http://www.crunchbase.com/company/teamed">crunchbase.com/teamed</a>
      </li>
    </ul>
  </footer>
  <script type="text/javascript">
  var __lc = {};
  __lc.license = 4756341;
  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
  </script>
</body>
