---
layout: default
title: "Good Programmers Wanted"
permalink: /developer.html
description: |
  Teamed.io is looking for remote programmers and designers,
  mostly in Java, Ruby, NoSQL, JavaScript
keywords:
  - programming jobs
  - programming remotely
  - Java jobs
  - Ruby jobs
  - programmers needed
  - remote job as programmer
paragraphs:
  quality-coding:
    title: High Quality Coding
    image: /images/developer/high-quality.svg
    text: |
      If you are passionate about software development
      and quality, we want to work with you. You should know,
      though, that our [coding standards](http://www.yegor256.com/2014/08/13/strict-code-quality-control.html) are unexpectedly high
      for most newcomers. Moreover, our work model
      [differs](http://www.yegor256.com/2014/04/17/how-xdsd-is-different.html)
      from anything  you've probably seen before. But you
      shouldn’t be scared &mdash; just ready to improve &nbsp;:)
  perfect-job:
    title: Perfect Remote Job
    image: /images/developer/remote-job.svg
    text:
      - |
        We offer flexible part-time work that you can perform
        from anywhere.  In most cases, we expect you to spend up
        to 10 hours per week blending our projects into your other full-time work.
      - |
        Our projects are both challenging and interesting. You
        will solve difficult problems, work with cutting-edge technologies
        and collaborate with skilled professionals. There are no
        routine or boring tasks here.
      - |
        You should expect to work on small, well-defined tasks
        (usually 30 minutes each) personally selected to fit your
        skills experience. We even encourage our developers to reject
        tasks if they don't feel like they're a good fit.
  high-rates:
    title: High Hourly Rates
    image: /images/developer/hourly-rate.svg
    text: |
      We pay you immediately after a task is completed, either
      through [oDesk](http://www.odesk.com) or [PayPal](http://www.paypal.com),
      according to the budget allocated for the task multiplied by your hourly rate.
      Say, for example, that your rate is [$50/hour](http://www.yegor256.com/2014/10/29/how-much-do-you-cost.html)
      and the task budget is 30 minutes.
      You will get $25 immediately after the task is completed. Here is a
      [sample](/engineer.pdf) of our contract.
  apply-now:
    title: Apply Now
    image: /images/developer/apply-now.svg
    text: |
      When you are ready to join, read [this article](http://www.yegor256.com/2014/10/29/how-much-do-you-cost.html)
      and send us your GitHub account and
      StackOverflow  profile, as we expect people passionate about
      software development to be active contributors to open-source
      projects and regularly spend time on StackOverflow. Please send
      them, together with your CV, to
      [dev@teamed.io](mailto:dev@teamed.io).
---

<body>
  <section itemscope itemtype="http://schema.org/Offer">
    <header class="developer">
      <a href="/" title="home page">
        <img src="//img.teamed.io/logo-white.svg" alt="teamed.io logo" class="logo"/>
      </a>
    </header>
    <article role="main">
      <div class="slot page">
        {% for par in page.paragraphs %}
          <div class="paragraph">
            <div class="left">
              <img src="{{ par[1].image }}" alt="picture"/>
            </div>
            <div class="right">
              <h1>{{ par[1].title | escape }}</h1>
              {% for p in par[1].text %}
                {{ p | markdownify }}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
    <footer class="developer">
      <ul>
        <li>
          440 North Wolfe Road, #61<br/>
          Sunnyvale, CA 94085
        </li>
        <li>
          <a href="https://twitter.com/yegor256">
            <i class="fa fa-twitter ico"></i>
            yegor256
          </a><br/>
          <a href="mailto:dev@teamed.io">
            <i class="fa fa-envelope ico"></i>
            dev@teamed.io
          </a><br/>
          <i class="fa fa-phone ico"></i>
          860.506.5536
        </li>
        <li>
          We love Java, Ruby,<br/>
          NoSQL, AWS and unit tests
        </li>
      </ul>
    </footer>
  </section>
</body>
