%html
  %head
    %title Software Developers for Hire
    %link{:type => 'text/css', :href => 'css/index.css', :rel => 'stylesheet'}
    %meta{:charset => 'UTF-8'}
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %meta{:name => 'keywords', :content => 'java programmers for hire, software development, outsourcing team'}
    %meta{:name => 'description', :content => 'Hire us for your project and get an individually chosen team of programmers committed to the highest-quality standards in the industry'}
    %link{:rel => 'shortcut icon', :href => 'images/icon-64x64.png'}
    %meta{:property => 'twitter:account_id', :content => '4503599630178231'}
  %body
    %section{:itemscope => '', :itemtype => 'http://schema.org/Offer', :role => 'main'}
      %header.centered
        %div.container.container-xl.centered
          %img{:src=>'images/logo.svg', :alt=>'teamed.io logo'}
          %h1 We Are The Programming That Actually Works
        %div.container.container-m.centered
          %div
            Tap into a distributed global network
            of the highest-caliber <a href='#team'>programmers</a>,
            working under our control
          %br
          %div
            %a{:href=>'http://at.teamed.io/hire.html'}
              %button{:style=>'background-color:#64585a;color:white;border:none;'}
                request a quote
      %article
        %div.container.container-m
          %h2 How It Works
        %div.row.container.container-l.small
          %div.three.columns.centered
            %i.fa.fa-users.ico
            %br
            %br
            We find and
            %a{:href=>'http://www.yegor256.com/2014/10/29/how-much-do-you-cost.html'} hire
            a distributed team of programmers
          %div.three.columns.centered
            %i.fa.fa-book.ico
            %br
            %br
            You
            %a{:href=>'http://www.yegor256.com/2014/10/20/how-we-write-product-vision.html'} specify
            what software needs to be created
          %div.three.columns.centered
            %i.fa.fa-cubes.ico
            %br
            %br
            The team builds it with the highest
            %a{:href=>'#quality'} quality
          %div.three.columns.centered
            %i.fa.fa-dollar.ico
            %br
            %br
            %a{:href=>'http://www.yegor256.com/2016/01/19/how-expensive-is-outsourcing.html'} ROI
            is high, you pay
            %a{:href=>'http://www.yegor256.com/2014/10/21/incremental-billing.html'} only
            for delivered code
        %div.container.container-m
          %p.centered
            Our
            %a{:href=>'http://www.yegor256.com/2014/10/06/software-project-lifecycle.html'} project lifecyle
            is very iterative and incremental.
          %p.centered
            This approach is called <strong>Team as a Service</strong>&trade;.
      %article{:id=>'media'}
        %div.container.container-m
          %h2 Media About Us
        %div.row.container.container-l.small
          %div.three.columns.centered &nbsp;
          %div.three.columns.centered
            %a{:href=>'https://www.voxxed.com/blog/2016/02/xdsd-new-development-methodology-generation-freelance/'}
              %img{:src=>'images/media/voxxed.png', :alt=>'Voxxed Logo', :style=>'height:50px;'}
          %div.three.columns.centered
            %a{:href=>'http://sdtimes.com/xdsd-looks-to-manage-freelance-programmers/'}
              %img{:src=>'images/media/sdtimes.png', :alt=>'SDTimes Logo', :style=>'height:50px;'}
          %div.three.columns.centered &nbsp;
        %div.container.container-m
          %p.centered
            Watch this one-hour talk about <a href='http://www.xdsd.org'>XDSD</a>,
            the unique management methodology we're using:
        %div.container.container-l
          %div.two.columns.centered &nbsp;
          %div.eight.columns.centered{:style=>'padding-bottom:37%;height:0;'}
            %iframe{:src => 'https://www.youtube.com/embed/qRZYJGYdrwk?controls=2', :allowfullscreen => '', :style=>'border:0;padding:0;width:100%;height:100%;position:absolute;left:0;'}
      %article{:id => 'portfolio'}
        %div.container.container-m
          %h2 Quality of Code is Exceptional
          %p.centered
            It is the highest in the entire industry.
            We mean it. Check these open source Java repos yourself:
        %div.container.container-l.row
          %div.four.columns.centered
            %img{:src=>'images/takes.svg', :style=>'height:100px;', :alt=>'Takes Framework logo'}
            %br
            %a{:href=>'https://github.com/yegor256/takes'} takes
          %div.four.columns.centered
            %img{:src=>'http://doc.rultor.com/images/logo.svg', :style=>'height:100px;', :alt=>'Rultor.com logo'}
            %br
            %a{:href=>'https://github.com/yegor256/rultor'} rultor
          %div.four.columns.centered
            %img{:src=>'http://img.jcabi.com/logo-square.svg', :style=>'height:100px;', :alt=>'jcabi logo'}
            %br
            %a{:href=>'https://github.com/jcabi'} jcabi
        %div.container.container-m
          %p.small.centered
            We
            %a{:href=>'http://www.yegor256.com/2014/08/13/strict-code-quality-control.html'} strictly
            control quality in each pull request and
            merge
            %a{:href=>'http://www.yegor256.com/2014/07/21/read-only-master-branch.html'} only
            when the quality is above the acceptance threshold.
            We
            %a{:href=>'http://www.yegor256.com/2014/10/08/continuous-integration-is-dead.html'} never
            compromise, that's why our code is awesome
            (<a href='http://at.teamed.io/portfolio.html'>full portfolio</a>).
          %p.centered
            We organize the annual
            %br
            %a{:href=>'http://www.yegor256.com/award.html'} Software Quality Award
            %br
            for open source projects
      %article
        %div.container.container-m
          %h2 Unlimited Pool of Talents
          %p.centered
            You work with unique skills for your unique needs. We love to work with this stack:
        %div.container.container-l.row
          %div.four.columns.centered.small
            %img{:src=>'images/java.svg', :style=>'height:75px;', :alt=>'Java logo'}
            %br
            Java, Groovy, Hadoop, AOP/AspectJ, JAX-RS, XML, XSLT, JUnit, Maven, Mockito
          %div.four.columns.centered.small
            <img src='images/aws.svg' style='height:75px;' alt='AWS logo'/>
            %br
            EC2, S3, Elastic Beanstalk, DynamoDB, CloudWatch, SNS, SQS, CloudFront, SES
          %div.four.columns.centered.small
            %img{:src=>'images/db.svg', :style=>'height:75px;', :alt=>'Database logo'}
            %br
            PostgreSQL, H2, DynamoDB, MongoDB, SimpleDB
        %div.container.container-l.row{:style => 'margin-top:1em'}
          %div.two.columns
            &nbsp;
          %div.four.columns.centered.small
            %img{:src=>'images/html5.svg', :style=>'height:75px;', :alt=>'HTML5 logo'}
            %br
            JavaScript, jQuery, SASS, AngularJS, node.js, HTML5, CSS3, PhantomJS, CasperJS
          %div.four.columns.centered.small
            %img{:src=>'images/git.svg', :style=>'height:75px;', :alt=>'Git logo'}
            %br
            GitHub, Rultor, Travis, Docker, Continuous Integration, Build Automation, TDD, Static Analysis
        %div.container.container-m
          %p.centered.small
            There is <a href='http://www.yegor256.com/2015/10/06/how-to-be-good-office-slave.html'>no office</a>,
            all programmers
            work <a href='http://www.yegor256.com/2015/07/13/meetings-are-legalized-robbery.html'>remotely</a>, contracts-based only.
            Thanks to this model, you have the luxury of choosing
            from a vast talent market of only those professionals
            specifically <a href='http://www.yegor256.com/2014/10/29/how-much-do-you-cost.html'>required</a>
            for your project.
        %div.container.container-m
          %p.centered.small
            %a{:href=>'http://www.aws-partner-directory.com/PartnerDirectory/PartnerDetail?Name=TechnoPark+Corp.'}
              %img{:src=>'http://d0.awsstatic.com/logos/partners/logo-apn-tech-small.png', :style=>'height:60px', :alt=>'APN Technology Partner log'}

      %article
        %div.container.container-m
          %h2 Existing Customers Are Happy
          %p.centered
            Even though we are just one year old, we already have warm and positive testimonials:
        %div.row.container.container-xl
          %div.two.columns.centered
            &nbsp;
          %div.four.columns.centered
            %img.circle{:src=>'http://img.teamed.io/andre-buren.jpg', :alt=>'Andre Buren'}
            %br
            %div.small
              &ldquo;Teamed.io provides the strategic sourcing and
              subject matter expertise in a teaming environment,
              customizing their approach to fit the unique needs and
              culture of their customer rather than trying to force
              a rigid process onto an organization. The bottom line
              is that they help get to savings faster.&rdquo;
              %br
              %a{:href=>'https://nl.linkedin.com/in/andreburen'} Andre Buren
              %br
              CTO &amp; Tech Entrepreneur
          %div.four.columns.centered
            %img.circle{:src=>'http://img.teamed.io/nicos-kekchidis.jpg', :alt=>'Nicos Kekchidis'}
            %br
            %div.small
              &ldquo;Happy to mention Teamed.io as a reliable and consistent
              collaborator for our super ambitious startup. Initially somewhat counterintuitive,
              it was a novelty of guaranteeing predictable execution of sub
              tasks, that was continuously gauged against timeline
              and budgetary constraints, all in automated way,
              proved to be a secret sauce of our satisfaction.&rdquo;
              %br
              %a{:href=>'https://www.linkedin.com/in/nicoskek'} Nicos Kekchidis
              %br
              CTO and Co-Founder, AlfaRank.io
      %article
        %div.container.container-m
          %h2 Who We Are
          %p.centered
            We have been doing software development for many years
        %div.row.container.container-l
          %div.four.columns.centered
            %img.circle{:src=>'http://img.technoparkcorp.com/about/noah-lieske.png', :alt=>'Noah Lieske'}
            %br
            %a{:href=>'https://www.linkedin.com/in/noahlieske'} Noah Lieske
            %br
            CEO
          %div.four.columns.centered
            %img.circle{:src=>'http://www.yegor256.com/images/face-256x256.jpg', :alt=>'Yegor Bugayenko'}
            %br
            %a{:href=>'https://www.linkedin.com/in/yegor256'} Yegor Bugayenko
            %br
            CTO
          %div.four.columns.centered
            %img.circle{:src=>'http://img.teamed.io/patrick-boyle.jpg', :alt=>'Patrick Boyle'}
            %br
            %a{:href=>'https://www.linkedin.com/in/boylepatrick'} Patrick Boyle
            %br
            VP/BizDev
        %div.container.container-m
          %p.centered.small
            We incorporated
            %a{:href=>'http://www.technoparkcorp.com/about/facts/'} in 2006
    %footer
      %div.container.container-l.centered
        %p
          &copy; <a href='http://www.technoparkcorp.com'>TechnoPark Corp.</a>, 2006-2018
          %br
          555 Bryant St 470, Palo Alto, CA 94301
          %br
          <a href='mailto:hire@teamed.io'>hire@teamed.io</a>, 408.692.4742
        %p
          %a{:href=>'https://www.facebook.com/teamedio'} Facebook
          &middot;
          %a{:href=>'https://www.linkedin.com/company/teamed-io'} LinkedIn
          &middot;
          %a{:href=>'https://twitter.com/teamed_io'} Twitter
          &middot;
          %a{:href=>'https://angel.co/teamed-io'} AngelList
          %br
          %a{:href=>'http://at.teamed.io/join.html'} Join us
          &middot;
          %a{:href=>'http://at.teamed.io/policy.html'} Policy
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-1963507-34', 'auto');
      ga('send', 'pageview');

