<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="//img.teamed.io/ico-64x64.png">
    <link rel="shortcut icon" href="//img.teamed.io/ico-64x64.png" />
    <meta name="description" content="{{ page.description | escape }}" />
    <meta name="keywords" content="{{ page.keywords | join:', ' | escape }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/layout.css?{{ site.data['hash'] }}"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <title>{{ page.title }}</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1963507-34']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  {{ content }}
</html>
