<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="http://img.teamed.io/icon-64x64.png">
    <link rel="shortcut icon" href="http://img.teamed.io/icon-64x64.png" />
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description | escape }}" />
    <meta name="keywords" content="{{ page.keywords | join:', ' | escape }}" />
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/css/layout.css?{{ site.data['hash'] }}"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <title>{{ page.title }}</title>
  </head>
  <body class="{{ page.body }}">
    <header>
      <span class="teamed"><a href="/">teamed</a></span>
    </header>
    <section class="{{ page.section }}">
      {{ content }}
    </section>
    <footer class="{{ page.footer }}">
      <ul>
          <li>
              PO Box 211<br/>
              Mountain View, 94042
          </li>
          <li>
              <i class="fa fa-twitter"></i>&#160;&#160;<a href="">teamedio</a><br/>
              <i class="fa fa-envelope"></i>&#160;&#160;<a href="mailto:sales@teamed.io">sales@teamed.io</a><br/>
              <i class="fa fa-phone"></i>&#160;&#160;860.506.5536<br/><br/>
          </li>
          <li>
              <a href="">angel.co/teamed-io</a><br/>
              <a href="">crunchbase.com/teamed-io</a>
          </li>
      </ul>
        <img src="xdsd.png">
        <img src="tpc.png" height="70px">
    </footer>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1963507-34']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
