<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="//img.teamed.io/ico-64x64.png"/>
    <link rel="shortcut icon" href="//img.teamed.io/ico-64x64.png" />
    <meta name="description" content="{{ page.description | join:' ' | escape }}" />
    <meta name="keywords" content="{{ page.keywords | join:', ' | escape }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="twitter:account_id" content="4503599630178231" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="stylesheet" href="/css/layout.css?{{ site.data['hash'] }}"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <title>{{ page.title }}</title>
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="/js/all.js?{{ site.data['hash'] }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
  </head>
  <body ng-app='teamed'>
    <section itemscope itemtype="http://schema.org/Offer">
      <header>
        <a href="/">
          <img src="//img.teamed.io/logo.svg"
            style="width:192px;height:192px;"
            alt="teamed.io logo"/>
        </a>
        <br/>
        <a href="/">
          <img src="//img.teamed.io/logo-light.svg"
            style="width:192px;height:64px;"
            alt="teamed.io logo"/>
        </a>
      </header>
      <article role="main" ng-controller="Main">
        {{ content }}
      </article>
      <footer>
        <a href="mailto:hire@teamed.io">hire@teamed.io</a>
      </footer>
    </section>
  </body>
</html>
